body{
    background: url(/img/clima.webp) repeat;
    
    
}

.topo_pagina_clima{
    background-color: #1b09f8;
}

.menu_navegação_clima{
    background-color: #1b09f8;
}

.data_hora{
    margin: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo{
    display: flex;
    padding-top: 3rem;
}

.lateral{
    padding-left: 3rem;
    
    border-right: 1px solid #000;
}

.central{
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 8rem;
}

.rodape_clima{
    background-color: #1b09f8;
    color: #000;
}