.conteudo{
    display: flex;
    padding-top: 3rem;
}

.lateral{
    padding-left: 3rem;
    
    border-right: 1px solid #000;
}

.central{
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}