body{
    background: url(/img/clima.jpg) repeat;
    
    
}

.topo_pagina_clima{
    background-color: #000;
    color: #fff;
}

.menu_navegação_clima{
    background-color: #000;
    color: #fff;
}

.menu_navegação_clima a{
    color: #fff;
}


.data_hora{
    margin: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.conteudo{
    display: flex;
    padding-top: 3rem;
    color: #fff;
}

.infor_clima{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.lateral{
    padding-left: 10rem;
    
}

.lateral img{
    
    height: 3rem;
}


.central{
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 8rem;
}

.rodape_clima{
    background-color: #000;
    color: #fff;
}
