:root{

    --azul: #381be3;
    --branco: #ffffff;
    --branco_escuro: #f9f9f9;
    --vermelho: #df1c0d;
    --text_topo:#020001;
    --cinza: #f5e4af ;
}

body{
    padding: 0;
    margin: 0;
}

/* Topo da pagina */

header{
    display: flex;
    background-color: var(--vermelho);
    justify-content: space-around;
    align-items: center;
}

.topo_pagina{
    display: flex;
    color: var(--branco);

}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.barrinha-menu {
    height: 3px;
    width: 2rem;
    background-color: var(--text_topo);
    display: block;
    margin: 4px;
    transition: width 2s ease, margin-left 2s ease;
    cursor: pointer;
}



div:hover .barrinha-menu:nth-child(2) {
    margin-left: 15px;
}

div:hover .barrinha-menu {
    width: 35px;
    transition: width 2s ease, margin-left 2s ease;
}

.text_topo{
    display: flex;
    gap: 2rem;
    align-items: center;
}

#divBusca{
    background-color:var(--branco);
    border:solid 2px var(--text_topo);
    border-radius:10px;
    width:8rem;
    height:1.8rem;
}

#txtBusca{
    float:left;
    background-color:transparent;
    border:solid 2px var(--vermelho);
    border-radius:10px;
    padding-left:5px;
    font-size:1.4;
    border:none;
    width:7.5rem;
    height:1.6rem;

}


.entrar a{
    text-decoration: none;
    list-style: none;
    color: var(--branco);
    font-size: 1.5rem;
}

/* Menu de navegação*/

.menu_navegação{

    text-decoration: none;
    list-style: none;
}

.navegação_off{
    display: none;
    height: 100%;
    position: absolute;
    width: 15rem;
    font-size: 1.5rem;
    background-color: var(--vermelho);

}

.navegação{
    height: 100hv;
    width: 15rem;
    position: absolute;
    font-size: 1.5rem;
    background-color: var(--vermelho);
    
    display: block;
    
}

.navegação ul{
    margin: 0;
    padding: 1rem 0rem 1rem 1rem;
}

.navegação a {
    text-decoration: none;
    list-style: none;
    color: var(--branco);
    
}

/* Noticias topo da pagina*/

.conteudo_topo_pagina{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.titile_principal{
    padding-top: 1rem;
    text-align: center;
}

.noticia_principal{
    height: 30rem;
    width: 30rem;

}

.noticia_principal img{
    height: 30rem;
    width: 30rem;
    position:absolute;
}

.noticia_pri{
    position: relative;
    color: var(--branco);
    top: 18rem;
    padding-left: 2rem;
    
}

.noticias_segundarias{
    height: 30rem;
    width: 30rem;
}

.segundaria1{
    height: 20rem;
    width: 30rem;
    margin-left: 1rem;
}

.segundaria1 img{
    height: 30rem;
    width: 30rem;
    position:absolute;
    top: 7rem;
}

.segundaria1_info{
    position: relative;
    color: var(--branco);
    top: 18rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Noticias*/

.principal{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    padding-left: 5rem;
}

.noticias{
    display:flex;
    flex-direction: column;
    
    
}

.divPai{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text_topo);
    height: auto;
    width: 60rem;
    margin-top: 1rem;
    
}

.divFilho{
    display:flex;
    flex-direction: column;
    

}

.img_noticia img{
    width: 20rem;
    padding-right: 1rem;
    height: 100%;
}

.descript article{
    margin-bottom: 2rem;
}

.author{
    display: flex;

}

.link{
    text-decoration: none;
}

/*Noticias laterais */

.noticias_laterais{
    display: flex;
    flex-direction: column;
    margin-left: 18rem;
    padding-top: 1.5rem;
}

.titulo_lateral h4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-left: 2rem;
    color: var(--vermelho);
    padding-top: 1rem;
}

.conteudo_lateral{
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    padding: 0.2rem;
    border-top: 0.5px solid var(--text_topo);
}

.conteudo_lateral a{
    text-decoration: none;
    color: var(--vermelho);
    display: flex;
    gap: 1rem;
}

.entretenimento{
    display: flex;
    flex-direction: column;
}

/* FOOTER*/

.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--vermelho);
    color: var(--branco);
    gap: 0.3rem;
    margin-top: 2rem;
}

.subtitle{
    font-size: 2rem;
}

.rodape_politicas {
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
}



.rodape_infor{
    display: flex;
    font-size: 1rem;
    gap: 1rem;
}

.rodape_direitos{
    font-size: 1rem;
    padding-bottom: 2rem;
}