
@import url('https://fonts.cdnfonts.com/css/lucida-sans');

body{
    background-color: #3d3d3d;
    font-family: 'Lucida Sans Unicode', sans-serif;
}

#curve_chart{
    background-color: #3d3d3d;
}

.taxa_cambio_info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: #3d3d3d;
    color: #00a68b;
    
}

